### Binning is the conversion of a continuous variable into a categorical variable

In [17]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [18]:
#Loading Dataset
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [19]:
#.cut method - Fastest Method

In [20]:
%%timeit

mpg['wt_cat_cut'] = pd.cut(np.array(mpg['weight']), 4, labels=["Light", "Medium", "Heavy", "Very heavy"])

1.53 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
mpg.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,wt_cat_cut
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville,Very heavy
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto,Light
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw),Light
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador,Medium
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500,Very heavy
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw),Very heavy
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000,Light
238,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m,Light
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel,Light
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla,Light

In [21]:
# iterrows method

In [23]:
def apply_weights(weight): 
    if 1500 <= weight < 2500:
        category = 'Light'
    elif 2500 <= weight < 3500:
        category = 'Medium'
    elif 3500 <= weight < 4500:
        category = 'Heavy'
    else:
        category = 'Very heavy'
    return category

In [24]:
%%timeit

cat_list = []
for index, row in mpg.iterrows():
    wt = row['weight']    
    cat = apply_weights(wt)
    cat_list.append(cat)
#print(len(cat_list))
mpg['Wt_Categories_iter'] = cat_list

29.7 ms ± 1.77 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [26]:
mpg.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,wt_cat_cut,Wt_Categories_iter
357,32.9,4,119.0,100.0,2615,14.8,81,japan,datsun 200sx,Medium,Medium
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii,Light,Light
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc,Light,Light
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona,Light,Light
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d,Medium,Medium
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto,Light,Light
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom,Light,Light
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro,Medium,Medium
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd,Very heavy,Heavy
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw),Medium,Medium